<link rel="stylesheet" href="~/css/Buttons.css">
<link rel="stylesheet" href="~/css/edit.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Sevillana&display=swap" rel="stylesheet">


<h1 style="color: cadetblue; text-align:center; font-family: 'PT Serif', serif; ">Delete an existing room</h1>

<div class="app">
  <main class="banner">
    <h1>Still in <span class="sub-text">Progress</span> </h1>
  </main>
</div>

<br />
<br />

<div>
   <br />
    <br />
    <a asp-area="" asp-controller="Room" asp-action="Index" class="cta">
      <span style="font-size: 1em">Back to Room Managment.</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>    
    <br />
    <br />
</div>

<footer style="
   text-align: center;
   bottom: 0;
   color: #ffab9d;
   width: 92%;
   height: 30px;
   background: white;">
    <p>© New Giza University. New Giza, Km 22 Cairo-Alex Road.</p>
</footer>