<link rel="stylesheet" href="~/css/Buttons.css" >

<div >
<a asp-area="" asp-controller="Home" asp-action="Index" class="cta" >
<span style="font-size: 1em;" > Back to Home.</span >
<svg width="13px" height="10px" viewBox="0 0 13 10" >
<path d="M1,5 L11,5" > </path >
<polyline points="8 1 12 5 8 9" > </polyline >
</svg >
</a >
<br />
<br />
<br />
<br />
</div >

<h1 style="color: #ffab9d" > <em > Contact Info</em > </h1 >
<br />
<br />

<center><h2><strong> NEWGIZA </strong></h2></center>
<center><p style= "color: #ffab9d;">Km 22 Cairo-Alex Road</p></center>
<br/>
<center><h2><strong> HOTLINE </strong></h2></center>
<center><p style= "color: #ffab9d;">16623</p></center>
<br/>
<center><h2><strong> WEBSITE </strong></h2></center>
<center><p style= "color: #ffab9d;">ngu.edu.eg</p></center>

<br/>

<footer style="
text-align: center;
color: #ffab9d;
bottom: 0;
width: 100%;
height: 30px;
background: white;">
<p > © New Giza University. New Giza, Km 22 Cairo-Alex Road.</p >
</footer >
