<head>
    <link rel="stylesheet" href="~/css/Buttons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Sevillana&display=swap" rel="stylesheet">
</head>

<body class="specific-page">
    <div style="height: 1400px;
    width: 600px;
    position: fixed;
    text-align: center;
    top: 20%;
    left: 50%;
    margin-top: 4em;
    margin-left: -320px;">
    <br />
    <br />
    <br />
    <br />
    <a asp-area="" asp-controller="Room" asp-action="Index" class="cta">
      <span style="font-size: 1.5em;">Manage Rooms.</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>    
    <br />
    <br />
    <br />
    <br />
    <a href="#" class="cta">
      <span style="font-size: 1.5em;">Manage Buildings.</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a> </div>


<footer style="position: fixed;
   text-align: center;
   color: #ffab9d;
   bottom: 0;
   width: 90%;
   height: 30px;
   background: white;">
    <p>© New Giza University. New Giza, Km 22 Cairo-Alex Road.</p>
</footer>
</body>
<style>
.specific-page {
    overflow-y:hidden;
}
</style>
