<link rel="stylesheet" href="~/css/Buttons.css">

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="cta">
      <span style="font-size: 1em;">Back to Home.</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>  
    <br />
    <br />
    <br />
    <br />
</div>

<h1 style="color: #ffab9d"><em>Privacy Policy</em></h1>
<br />

<h3><em>Dress Code.</em></h3>
<p style="color: black;">NGU requires all members of the community to present themselves in an acceptable manner,
    with regard to attire, personal hygiene, and general appearance.  Therefore, students should be dressed in an 
    appropriate and socially acceptable manner that conforms with the Egyptian culture. Appropriate attire is one 
    that is not too revealing nor daring, and that is not figure-hugging, appropriate length, always face visible,
    and identification visible all the time.</p>

<br />

<h3><em>Student ID card.</em></h3>
<p style="color: black;">The student ID card must have full-face photographs. Security and examination 
    requirements mean that students may have to be authenticated against their ID cards.</p>

<br />

<h3><em>Not allowed on campus.</em></h3>
<ul>
    <li>Short skirts/dresses (only knee length)</li>
    <li>Sheer, tight, or figure-hugging tops/blouses unless camisoles or other 
        additional layers are worn underneath.</li>
    <li>Ripped jeans (for both males and females)</li>
    <li>All kinds of shorts (for both males and females)</li>
    <li>Cropped tops/blouses.</li>
    <li>See-through attires.</li>
    <li>Flip-flops.</li>
</ul>

<br />

<h3><em>Smoke free policy.</em></h3>
<p style="color: black;">With the objective of lowering smoking among its community; 
    NGU Student Affairs Office (SAO) proposed a participatory approach in the formulation and design of a 
    smoke-free policy for NGU. Risks of smoking whether first hand or second hand has been out there and 
    proved through research on the topic. Implementing smoke-free policies on university campuses has been 
    challenging. However, studies show that using participatory approaches has helped universities successfully 
    implement their non-smoking policies.</p>

<br />

<footer style="
   text-align: center;
   color: #ffab9d;
   bottom: 0;
   width: 92%;
   height: 30px;
   background: white;">
    <p>© New Giza University. New Giza, Km 22 Cairo-Alex Road.</p>
</footer>